html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
}

/* Header Title */
header {
  padding: 30px;
  text-align: center;
  background: white;
  background-size: cover; /* cover stretches or shrinks an image without affecting the aspect ratio */
}

header h1 {
  font-size: 50px;
}

header p {
  font-size: 25px;
}

/* Top navigation bar */
nav {
        width: 100%;
        padding: 20px 0px;
        text-align: center;
        display: block;
        background-color: #000000;
}

  nav a{
        margin-left: 20px;
        display:inline;
        padding: 20px;
        color:#fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
        transition: all 0.3s ease;
    }

  nav a:hover{
        font-weight: 700;
        background-color: #B44040;
    }

/*Footer*/
footer {
    margin-top: auto;
    text-align: center;
    background-color: #000000;
    color: #fff;
    font-weight: 200;
    display:block;
}

/* films box style */
.film-card{
    position: relative;
    display: inline-block;
    width: 20%;
    background-color: #F1EFEF;
    border-radius: 4px;
    border:.5px solid #C7BFBF;
    box-shadow: 2px 2px 2px #675151;
    margin: 20px 10px;
    text-align: center;
}

.film-card img { 
    width: auto; 
}


.bottom-dotted{
        border-bottom: 5px dotted #230D0C;
        width: 80%;
        margin: auto;
        padding-bottom: 20px;
    }

.time { color: #000000;
font-size: 15px;
padding: 12px;
width: 70%;
display: inline-block;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],select {
  width: 20%; /* Full width */
  padding: 12px 20px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 2px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.input {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:1.2rem;
}



/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
  font-size:1.2rem; 
}

.contact-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form {
  padding: 30px 40px;
}

.form-box {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-box label {
  color: #000000;
  display: block;
  margin-bottom: 5px;
}

.form-box input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-box input:focus {
  outline: 0;
  border-color: #777;
}

.submit {
  cursor: pointer;
  background-color: #000000;
  border: 2px solid #B44040;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

